.pickerConatiner {
  width: 198px;
  height: 40px;
  background-color: #0a1523;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  span {
    color: #ccc;
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
  }
}

.datePicker {
  background: #0a1523;
  :global {
    .adm-picker-view-column-item-label,
    .adm-picker-header-button {
      color: #fff;
    }
    .adm-picker-header {
      background: transparent;
      border-color: rgba(255, 255, 255, 0.3);
    }
    .adm-picker-view {
      background: transparent;
    }
    .adm-picker-view-mask-bottom,
    .adm-picker-view-mask-top {
      background: #0a1523;
    }
    .adm-picker-view-mask-middle {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}
