.pickerConatiner {
  width: 198px;
  height: 40px;
  background-color: #0a1523;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  span {
    color: #ccc;
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
  }
}
