.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-top: 150px;
  }
  .title {
    color: #dbdbdb;
    font-family: Fredoka;
    font-size: 24px;
    margin-top: 77px;
    margin-bottom: 51px;
  }
  .inputContainer {
    margin-bottom: 30px;
   
  }
  .loginButton {
    width: 184px;
  }
}
