.input {
  width: 400px;
  height: 40px;
  background: #10141f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    width: 22px;
    height: 22px;
    margin: 0 17px 0 20px;
  }
  input {
    color: #fff;
    &::placeholder {
      color: #707070;
    }
  }
}
