.modalContent {
  .title {
    color: #fff;
    text-align: center;
    font-family: Fredoka;
    font-size: 22px;
    font-weight: 500;
  }
  .desc {
    padding: 0 15px;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
  }
  .idText {
    color: #5aff7e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 800;
  }
  .inputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .text {
      color: #5e7ca6;
      font-family: Fredoka;
      font-size: 10px;
      font-weight: 500;
    }
 
  }
}
.contentInner {
  width: 290px !important;
}
.input {
    width: 290px;
}
