.container {
  .content {
    width: 100%;
    height: calc(100% - 68px);
    padding: 15px;
  }
  .desc {
    width: 100%;
    height: 95px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    text-align: center;
  }
  .formLabel {
    width: 100%;
    color: #a8a8a8;
    text-align: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    &.formLabel2 {
      margin-top: 20px;
    }
  }
  .balanceText {
    width: 100%;
    color: #5e7ca6;
    text-align: right;
    font-family: Fredoka;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputContainer {
      margin-top: 15px;
    }
    .inputContainer:nth-child(1) {
      margin-top: 0;
    }
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 59px;
    .confirmBtn {
      width: 176px;
    }
    .cancelBtn {
      width: 127px;
      margin-left: 10px;
      background: #444;
    }
  }
  .newUser {
    color: #5aff7e;
    margin: 0 3px;
  }

  .successModalDesc {
    width: 267px!important;
  }
  .newInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 267px;
    height: 162px;
    border-radius: 9px;
    padding-top: 27px;
    background: #0a1523;
    .newInfoItem {
      width: 167px;
      display: flex;
      align-items: center;
      height: 22px;
      margin-bottom: 11px;
      span {
        font-size: 14px;
        font-weight: 500;
        color: #5aff7e;
      }
      img {
        width: 22px;
        height: 22px;
        margin-right: 17px;
      }
      &:nth-child(2) {
        margin-bottom: 19px;
        span {
          color: #fff;
        }
      }
    }
    .copyBtn {
      width: 97px;
      height: 36px;
    }
  }
}
