.container {
  width: 100%;
  .content {
    width: 100%;
    height: calc(100% - 68px);
    padding: 0 15px;
    .userinfo {
      display: flex;
      height: 89px;
      .avatar {
        margin-right: 5px;
        margin-top: 10px;
      }
      .info {
        display: flex;
        flex-direction: column;
        padding-top: 8px;

        .text {
          color: #5e7ca6;
          font-family: Fredoka;
          font-size: 10px;
          font-weight: 500;
        }
        .id {
          color: #fff;
          font-family: Fredoka;
          line-height: 28px;
          font-size: 22px;
          font-weight: 500;
        }
        .active {
          width: max-content;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 9px;
          padding: 5px 8px;
          border-radius: 30px;
          background: #0a742d;
          color: #fff;
          font-family: Lato;
          font-size: 10px;
          &.inactive {
            background: red;
          }
        }
      }
    }
    .typeTab {
      display: flex;
      align-items: center;
      border-radius: 64px;
      background: #0a1523;
      margin-top: 5px;
      margin-bottom: 16px;
      .tabItem {
        width: 50%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-family: Jomhuria;
        font-size: 18px;
        font-weight: 400;
        &.active {
          color: #fff;
          border-radius: 44px;
          background: #12698b;
          box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .listContainer {
      width: 100%;
      height: calc(100% - 180px);
      .listInner {
        max-height: calc(100% - 90px);
        border-radius: 12px;
        border: 0.4px solid rgba(255, 255, 255, 0.3);
        box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.25);
        overflow-y: auto;
        .listItem {
          height: 60px;
          border-bottom: 0.4px solid rgba(255, 255, 255, 0.3);
          background: #213c54;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 12px;
          &:first-child {
            border-radius: 12px 12px 0 0;
          }
          &:last-child {
            border-radius: 0 0 12px 12px;
          }
          .left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title {
              color: #fcfcfc;
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
            }
            .time {
              color: #a7a7a7;
              font-family: Lato;
              font-size: 12px;
              font-weight: 400;
            }
          }
          .right {
            color: #fff;
            text-align: right;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            &.add {
              color: #35d668;
            }
            &.minus {
              color: #d65e35;
            }
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
  }
}
