.am-tab-bar-bar .am-tab-bar-tab-image {
  object-fit: contain;
}

.tabBar {
  position: fixed;
  bottom: 17px;
  border-radius: 20px;
  border: 0.4px solid rgba(255, 255, 255, 0.3);
  background: #0a1523;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.25);
  left: 19px;
  width: calc(100vw - 38px);
  height: 72px;
  box-sizing: border-box;
  z-index: 100;
  transition: 0.5s all;
}

.tabBarItem {
  font-size: 11px;
  height: 100%;
  flex: 1;
  color: #fff;

  .icon {
    width: 30px;
    opacity: 0.5;
  }
}

.chooseed {
  color: #00f6ff;
  .icon {
    opacity: 1!important;
    width: 30px;
  }
}

.in_page {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.out_page {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
