.container {
  .desc {
    width: 100%;
    height: 95px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputContainer {
        margin-top: 15px;
    }
    .inputContainer:nth-child(1) {
        margin-top: 0;
    }
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 59px;
    .confirmBtn {
        width: 176px;
    }
    .cancelBtn {
        width: 127px;
        margin-left: 10px;
        background: #444;
    }
  }
}
